.slider-wrapper{
    position: relative;
    display: flex;
    /* flex */
    align-items: center;
    justify-content: center;
    width: 800px;
    height: auto;
}

.slider-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.arrow{
    position: absolute;
    color: white;
    height: 2rem;
    width: 2rem;
}

.arrow-left{
    left: 1rem;
}

.arrow-right{
    right: 1rem;
}

.indicators{
    position: absolute;
    bottom: 2rem;
}

.indicators button{
    width: 1.6rem;
    height: 1.6rem;
    margin: 0px 5px;
    border-radius: 50%;
    border: none;
}

.inactive-indicator{
    background-color: gray;
}